.search {
  height: 66px;
  background: rgba(45, 45, 45, 0.53);
  display: flex;
  align-items: center;
}

.searchBar {
  width: 289px;
  height: 29px;
  border-radius: 19px;
  background: #FFFFFF;
}

.background {
  width: 500px;
  height: 500px;
  display: block;
}